body{
    background-color: rgb(20, 20, 20);
    
}

#clock ,#date{
    font-size: 120px;
    width: 900px;
    margin: 278px;
    text-align: center;
    
    border-radius: 40px;
    background-color: aqua;
    
    

}
